.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    z-index: 20;

}

.menu {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    border-right: 3px black solid;
    margin-right: 55px;
}

.menu div {
    border-left: 3px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu div h4 {
    text-align: center;
    width: 150px;
}

.image {
    height: 60px;
}

.image img {
    height: 110px;
}